@import './variables';
@import './mixin';


.reservation__check-in {
    color: map-get($color-palette, 'white');
    position: relative;
    padding: 40px 40px;
    top: -50px;
    z-index: 6;
    background-color: map-get($color-palette, 'dark-2');
    width: 100%;
    max-width: 1200px;
    @include respond("desktop") {
        padding: 40px 0;
    }
}

// input box and submit
#form {
    width: 100%;
    text-align: center;
    .direct-div {
        width: 100%;
        padding: 10px;
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        @include respond("desktop") {
            flex-direction: column;
        }
    }
    .inputbox {
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        @include respond("desktop") {
            width: 100%;
        }
        
        label {
            margin-bottom: 10px;
        }
        input {
            width: 100%;
            color: map-get($color-palette, 'white');
            padding: 28px 24px;
            border: 2px solid map-get($color-palette, 'dark-blue');
            background-color: map-get($color-palette, 'dark-blue');
        }
    }
    .error {
        display: none;
        color: map-get($color-palette, 'danger');
        margin-top: 20px;
    }

    .overlay-button {
        margin: 50px 0 10px;
        @include overlay-button-hover-second(map-get($color-palette, 'green'), transparent, map-get($color-palette, 'white'));
    }

    #submit {
        padding: 12px 32px;
    }
}


// modal appearance
.modal-container {
    @include font-settings(16, $font-source-sans, 500);
    position: fixed;
    top: 0; left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(map-get($color-palette, 'black'), 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.7s ease;
    &.show {
        opacity: 1;
        pointer-events: auto;
    }
}

.modal-content {
    color: map-get($color-palette, 'black');
    border-radius: 10px;
    box-shadow: rgba(map-get($color-palette, 'black'), 0.3) 0px 19px 38px, rgba(map-get($color-palette, 'black'), 0.22) 0px 15px 12px;
    background-color: map-get($color-palette, 'white');
    width: 600px;
    max-width: 90%;
    .modal-header {
        display: flex;
        padding: 15px 10px;
        justify-content: space-between;
    }
    .modal-body {
        padding: 25px 20px;
    }
    hr {
        border: none;
        height: 1px;
        background-color: map-get($color-palette, 'light-3');
    }

    .close-button {
        position: relative;
        cursor: pointer;
        padding: 10px;
        &::before, &::after {
            content: '';
            position: absolute;
            background-color: map-get($color-palette, 'mid-tone-2');
            width: 1.3px;
            height: 1.5rem;
            left: 50%;
            top: 50%;
        }
        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:hover::before, &:hover::after{
            background-color: map-get($color-palette, 'mid-tone-3');
        }
    }
}

// table
.modal #rooms-table {
    border-collapse: collapse;
    width: 100%;
    td, th {
        border: 1px solid map-get($color-palette, 'light-3');
        padding: 8px;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: map-get($color-palette, 'dark-2');
        color: map-get($color-palette, 'white');
    }

    tr.available {
        color: map-get($color-palette, 'white') !important;
        background-color: map-get($color-palette, 'green') !important;
    }
}
