@import './mixin';
@import './variables';

ul li {
    list-style-type: none;
    a {
        text-decoration: none;
        color: inherit;
    }
}

.menu.container {
    font-family: $font-source-sans;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: rgba($color: map-get($color-palette, 'black'), $alpha: 0.6);
    color: map-get($color-palette, 'white');
    transition: all 0.5s ease-in-out;

    &.move{
        transform: translateX(-320px);
    }

    .logo  {
        margin-left: 20px;
        @include respond("mobile") {
            margin-left: 10px;
        }
        img {
            width: 100px;
            height: auto;
            @include respond("mobile") {
                width: 60px;
            }
        }
    }
    .main-navbar-items {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        display: flex;
        gap: 2rem;
        @include respond("extra") {
            padding: 1px;
            gap: 0.1rem;
        }
        @include respond("desktop") {
            display: none;
        }
        li {
            padding: 5px 10px;
            position: relative;
        }
    }

    .navbar-tools {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;

        .book {
            position: relative;
            z-index: 10;
            background-color: map-get($color-palette, 'warning');
            @include overlay-button-hover-first (map-get($color-palette, 'white'), map-get($color-palette, 'warning'));
            margin-right: 0px;
            padding: 5px 20px;
        }
    }
}

.sidebar-toggler {
    padding: 8px 20px;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    .sidebar-toggler__burger {
        position: relative;
        width: 20px;
        height: 1px;
        background-color: map-get($color-palette, 'white');
        border-radius: 2px;
        transition: all ease-in-out 0.5s;
        &::after, &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 1px;
            background-color: map-get($color-palette, 'white');
            border-radius: 2px;
            transition: all ease-in-out 0.5s;
        }
        &::before {
            transform: translateY(-6px);
        }
        &::after {
            transform: translateY(6px);
        }
    }
}


.sidebar-menu {
    @include font-settings($font-size: 14px);
    color:map-get($color-palette, 'white');
    background-color: map-get($color-palette, 'black');
    padding: 20px 25px 0 25px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 7;
    transform: translateX(100%);
    width: 320px;
    height: 100%;
    overflow: auto;
    transition: all 0.5s ease-in-out;
    .secondary-navbar-items.container {
        display: none;
        @include respond("desktop") {
            display: block;
        }
    }
}

.sidebar-items {
    font-weight: 500;
    .sidebar-item {
        margin-bottom: 10px;
        ul {
            margin: 15px 0;
            font-size: 12px;
            padding-left: 20px;
            border-left: solid 2px map-get($color-palette, 'white');
            li {
                margin: 15px 0;
            }
        }
    }
}

.sidebar.seperator {
    position: relative;
    background-color: map-get($color-palette, 'mid-tone-2');
    height: 1px;
    width: 100%;
    margin: 28px 0;
}

.sidebar-contact-info {
    @include font-settings($font-size: 13px, $font-weight: 200);
    margin: 20px 0;
    .contact-info {
        @include font-settings($font-size: 16px, $font-weight: 200);
        margin: 10px;
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        &.email a{
            text-decoration: none;
            color: map-get($color-palette, 'green');
        }
    }
    & * {
        margin: 10px 0;
    }
}

// hover effect 
.main-navbar-items li {

    // green line appearance after hovering
    position: relative;
    &::after{
        @include green-line-hover;
    }
    &.underlined::after {
        transition: none;
        width: 100%;
    }

    &:hover::after {
        width: 100%;
    }

    // triangle sign appearance after hovering
    .arrow-down {
        border: solid map-get($color-palette, 'white');
        border-width: 0 2px 2px 0;
        display: none;
        padding: 2px;
        transform: translate(150%, 100%) rotate(45deg);
        -webkit-transform: translate(150%, 100%) rotate(45deg);
        position: absolute;
    }
    &#home-item:hover, &#more-item:hover {
        .arrow-down {
            display: inline-block;
        }
    }
}

// hover on sidebar menu items
.sidebar-item a {
    position: relative;
    &::after {
        @include green-line-hover;
        transition: width 0.2s ease-out;
    }
    &:hover::after {
        width: 100%;;
    }
    &.underlined::after {
        transition: none;
        width: 100%;
    }
}

// drop-down menu
.dropdown-owner {
    position: relative;
    .dropdown {
        position: absolute;
        z-index: 10;
        display: none;
        top: 30px;
        left: 0;
        background-color: map-get($color-palette, 'black');
        min-width: 150px;
        li {
            white-space: nowrap;
            margin: 8px 10px;
            a {
                display: inline-block;
            }
        }
    }

    .dropdown.more span {
        @include font-settings(10px, $font-source-sans, 700);
        display: inline-block;
        margin-left: 5px;
        background-color: map-get($color-palette, 'danger');
        border-radius: 3px;
        padding: 1px 5px;
    }

    &:hover .dropdown, .arrow-down:hover .dropdown, .dropdown:hover {
        display: block;
    }

}


// animation for sidebar toggler button and menu
.sidebar-toggler.open {
    transform: translateX(100%);
    background-color: map-get($color-palette, 'black');
}

.sidebar-toggler.open .sidebar-toggler__burger {
    transform: translateX(-20px);
    background: transparent;
    &::after {
        transform: rotate(-45deg) translate(15px, 15px);
    }
    &::before {
        transform: rotate(45deg) translate(15px, -15px);
    }
}

// open sidebar menu
.sidebar-menu.open {
    padding-top: 90px;
    transform: translateX(0);
}

.main-content {
    position: relative;
    transition: transform 0.5s ease-in-out;
    &.move {
        transform: translate(-320px);
    }
}

// back to up sign
.scroll-back {
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 75px; right: 25px;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(map-get($color-palette, 'black'), $alpha: 0.7);
    transition: all 0.5s ease;
    .arrow-up {
        border: solid map-get($color-palette, 'white');
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        position: relative;
    }
    &:hover {
        cursor: pointer;
        background-color: rgba($color: map-get($color-palette, 'black'), $alpha: 1);
        .arrow-up {
            top: -2px;
        }
    }
}
