$color-palette: (
    "white": white,
    "black": black,
    "light-1": #fdfdfd,
    "light-2": #f4f4f4,
    "light-3": #d6d6d6,
    "mid-tone-1": #869791,
    "mid-tone-2": #666666,
    "mid-tone-3": #323232, 
    "dark-1": #171720,
    "dark-2": #111118,
    "dark-3": #15151e,
    "green": #6fb586,
    "danger": rgb(247, 91, 91),
    "warning": #c5bc58,
    "dark-blue": #1F1F2C
);


$font-source-sans: 'Source Sans Pro', sans-serif;
$font-Playfair: 'Playfair Display', serif;
